
.clockContainer{
    display: inline-block;
    height: 50px;
    width: 200px;
    border: solid;
    background-color: aliceblue;
    margin: 30px;
    align-content: center;
}

span{
    display: inline-block; 
    margin: 10px 10px 0 0;
    padding: 5px 10px
}

.clockCity{
    display: inline-block;
}